.PokemonsPage {
   max-width: 1200px;
   margin: auto;
   padding: 1.5rem 1rem;
}

.wellcome {
   font-family: 'Inter', sans-serif;
   font-size: 16px;
}

.wellcome-name {
   color: #fe1936;
}

.search-container {
   height: fit-content;
   margin: 2rem 0;
   display: flex;
   flex-flow: column nowrap;
   align-items: center;
   position: relative;
   z-index: 110;
}

.input-form-pokemon {
   margin: 0 auto 1rem auto;
   width: 100%;
}

.input-input::placeholder {
   font-size: 0.9rem;
}

.select-input-pokemon {
   width: 100%;
   margin: auto;
}

.cards-wrapper {
   margin: 3rem 0 1rem 0;
   display: grid;
   grid-template-rows: 1fr;
   grid-template-columns: repeat(auto-fit, 285px);
   grid-gap: 2rem 1rem;
   justify-content: center;
   justify-items: center;
}

.no-results-container {
   display: flex;
   flex-flow: column nowrap;
   align-items: center;
}

.pokemons-no-results {
   font-family: 'Robot', sans-serif;
   font-size: 25px;
   text-align: center;
   width: 100%;
}

.no-results-img {
   width: 200px;
}

@media only screen and (min-width: 768px) {
   .PokemonsPage {
      padding: 2% 0;
      width: 90%;
   }

   .wellcome {
      font-size: 24px;
   }

   .search-container {
      flex-flow: row nowrap;
      justify-content: center;
   }

   .input-form-pokemon {
      width: 60%;
      max-width: none;
      margin: 0 1rem 0 0;
   }

   .input-input::placeholder {
      font-size: 1.15rem;
   }

   .select-input-pokemon {
      width: 40%;
      margin: 0 0 0 1rem;
   }

   .select-input-pokemon {
      width: 40%;
      margin: 0 0 0 1rem;
   }

   .no-results-container {
      width: 150%;
   }
}
