@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;0,700;1,300&display=swap');

* {
   box-sizing: border-box;
   margin: 0;
   padding: 0;
}

*::after,
*::before {
   box-sizing: border-box;
   margin: 0;
   padding: 0;
}

html {
   scroll-behavior: smooth;
}

body {
   margin: 18.7vh 0 0 0;
}

a {
   text-decoration: none;
}

.light {
   background: #e5e5e5;
   transition: all 0.75s ease;
}

.dark {
   background: #2a2a2a;
   transition: all 0.75s ease;
}

.pokeball-dark-bar {
   box-shadow: 0 0 2px 0 #fff;
}
