@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
/* font-family: 'Inter', sans-serif; */
/* font-family: 'Roboto', sans-serif; */

* {
   box-sizing: border-box;
   margin: 0;
   padding: 0;
}

.light {
   background: #e5e5e5;
   color: #000;
}

.dark {
   background: #2a2a2a;
   color: #fff;
}

.pokeball-dark-bar {
   box-shadow: 0 0 2px 0 #fff;
}
